{
  "presets": [
    ["es2015", {"modules": false}],
    "@babel/preset-vue"
  ],
  "env": {
    "test": {
      "presets": ["es2015", "vue"]
    }
  },
  "plugins":["@babel/plugin-proposal-class-properties"]
}
